*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2b2e4a;
    font-family: 'Montserrat', sans-serif;
}
body h1{
    font-family: 'montaga', serif;
}
header{
    padding-top: 20px;
    color: aliceblue;
    text-align: center;
    background-color:#2b2e4a;
}

.welcome{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 250px;
    background-color:#2b2e4a;
    border-radius: 0 0 80px 0 ;
    padding: 0 50px;
    box-sizing: border-box;
}

.welcome h3{
    padding-right: 50px;
}

.welcome::before{
    top:50px;
    content: "";
    background: linear-gradient(245deg, rgb(224, 35, 18), rgb(255, 117, 25), hsl(51, 100%, 52%), rgb(238, 80, 6), rgb(255, 0, 0)) 0% 0% / 500% 500%;
    animation: AnimationName 14s ease infinite;   
    height: 230px;
    width: 100%;
    position: absolute;
    display: block;
    z-index: -2;
    border-radius: 0 0 0 5px;

}
/* webkit animation 4 background */
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}
.welcome .profile{
    width: 150px;
    display: flex;
    justify-content: center;
}
.profile img{
    width: 100%;
    border-radius: 150px;
    filter: hue-rotate(-120deg);
}
.welcome .profile::before{
    content: " ";
    opacity: 0.6;
    height: 160px;
    width: 160px;
    border: 5px solid ;
    display: block;
    position: absolute;
    border-radius: 150px;
    transform: translateY(-10px) ;

}

/* s */
.container{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.container span{
    background-color: hsl(0, 0%, 97%);
    width: 300px;
    height: 350px;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    padding :0 20px 50px 20px;
}
.container span .pjc{
    background-color: #686868;
    width: 100px;
    height: 100px;
    margin: 40px auto;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container span a{
    color: #2b2e4a;
    text-decoration: none;
    text-align: center;
}

/* footer */
footer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    background-color: #bbbbbb;
}
/* responsive  */

/* tablet */
@media screen and (max-width : 768px){
    .welcome {
        border-radius:0 0 80px 0;
        font-size: 18px;
    }

    .profile img{
        width: 80%;
        border-radius: 130px;
    }
    .welcome h3{
        padding-right: 20px;
    }
    .welcome .profile::before{
        height: 125px;
        width: 125px;
        transform: translateY(-8px);
    }
}

/* mobile */
@media screen and (max-width : 576px){
    .welcome {
        flex-direction: column-reverse;
        border-radius:0 0 65px 0;
        font-size: 14px;
    }
    .welcome h3{
        padding-right: 0px;
    }

    .profile img{
        width: 70%;
        border-radius: 100%;
    }
    .welcome .profile::before{
        height: 110px;
        width: 110px;
        transform: translateY(-8px) translateX(-1px) ;
    }

    .container{
        flex-direction: column;
    
    }

}