*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2b2e4a;
}
header{
    padding-top: 20px;
    color: aliceblue;
    text-align: center;
    background-color:#2b2e4a;

}

.welcome{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 250px;
    background-color:#2b2e4a;
    border-radius:0 0 150px 0;
}

.welcome::before{
    top:50px;
    content: "";
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);    
    height: 230px;
    width: 100%;
    position: absolute;
    display: block;
    z-index: -2;

}

.welcome .profile{
    width: 150px;
    display: flex;
    justify-content: center;
}
.profile img{
    width: 150px;
    border-radius: 150px;
}
.welcome .profile::before{
    content: " ";
    opacity: 0.6;
    height: 160px;
    width: 160px;
    border: 5px solid ;
    display: block;
    position: absolute;
    border-radius: 150px;
    transform: translateY(-10px) ;

}

/* s */
.container{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.container span{
    background-color: hsl(0, 0%, 97%);
    width: 300px;
    height: 350px;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    padding-bottom:50px;
}
.container span .pjc{
    background-color: #686868;
    width: 100px;
    height: 100px;
    margin: 40px auto;
    border-radius: 100px;
    box-sizing: border-box;
} 
.container span a{
    text-align: center;
}
/* responsive  */

@media screen and (max-width : 768px){

}


@media screen and (max-width : 576px){
    .welcome {
        flex-direction: column-reverse;
        border-radius:0 0 100px 0;
    }

    .container{
        flex-direction: column;
    
    }
}